:root{
  --light-blue: #e6f5fa;
  --mid-blue: #8ebfd1;
  --aqua-grey: #a4afb3;
  --dark-grey: #1f1f1e;
}

/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}

.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing:.1rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
  z-index: 1;
}

.nav-item {
  padding:.5rem;
}

.nav-link{
  color: #5b5555 !important;
}

.nav-link.active,
.nav-link:hover{
  color: #4981b3 !important;
}

/*============= MAIN PART =============*/
.col-spaced {
  margin-left: 15px
}

.month{
  font-size: 6rem;
  color: var(--dark-grey);
}

.list-bg{
  width:100%; height:100%;
  background-color: rgb(255, 255, 255);
  color: var(--mid-blue);
  margin: auto;
}

.border-primary {
  border-top: .2rem solid #4981b3!important;
}

.plus-button{
  background-color: DodgerBlue;
  width: 8rem;
  height: 6rem;
  border: none;
  color: white;
  /* padding: 2rem 2rem; */
  font-size: 4rem;
  cursor: pointer;
  border-radius: .5rem;
}
.plus-button:hover{
  background-color: RoyalBlue;
}

#homelist{
  padding-right: 40px;
}


.login-form{
  margin-top: .6rem;
  margin-bottom: .5rem;
  width: 17rem;
  border: none;
  height: 2.2rem;
  padding-left: .5rem;
}
/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}