:root{
  --light-grey: #f5fbfc;
  --light-blue: #e6f5fa;
  --mid-blue: #8ebfd1;
  --bright-blue: #38a7cf;
  --aqua-grey: #a4afb3;
  --coral-red: #f55f6b;
  --dark-grey: #242423;
}

/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-blue) !important;
}

/*=============Login Page ==============*/

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: var(--mid-blue);
}

.right {
  right: 0;
  background-color: var(--light-blue);
  ;
}

.bot-left{
  position: absolute;
  top: calc(100% - 3.5rem - 30px);
  left: 0%;
  margin-left: 30px;
  font-size: 3.5rem;
}

.mr-4, .mx-4 {
  margin-right: 2rem !important;
}

.form-container{
  width: 20rem;
  position: absolute;
  top: 47%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.btn:hover,
.btn:active{
  border-bottom: 2px solid var(--mid-blue);
  border-radius: 0;
  font-size: 2rem;
  color: var(--mid-blue);
  outline: none;
  box-shadow: none;
}

.btn-modern{
  border-radius: 0;
  font-size: 2rem;
  border-bottom: 2px solid var(--light-blue);
  color: var(--aqua-grey);
}

.btn-modern-signup{
  border-bottom: 2px solid var(--mid-blue);
  border-radius: 0;
  font-size: 2rem;
  color: var(--mid-blue);
}

.btn-modern-login{
  border-bottom: 2px solid var(--mid-blue);
  border-radius: 0;
  font-size: 2rem;
  color: var(--mid-blue);
}

.form-container .btn{
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.login-form{
  margin-top: .6rem;
  margin-bottom: .5rem;
  width: 17rem;
  border: none;
  height: 2.2rem;
  padding-left: .5rem;
}

.submit-loc{
  color: var(--mid-blue);
  margin-top: 10px;
  margin-left: calc(100% - 5.5rem);
}

.submit-loc:hover{
  transition: color 0.2s;
  color: var(--bright-blue);
  cursor: pointer;
}

.submit-form{
  background-color: var(--mid-blue);
  color: white;
}

.submit-form:hover{
  transition: background-color 0.2s;
  background-color: var(--bright-blue);
  cursor: pointer;
}

.account-method{
  margin-bottom: 10px;
}

.error-msg{
  margin: 0px;
  color: var(--coral-red);
}

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}

.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing:.1rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
  z-index: 1;
}

.nav-item {
  padding:.5rem;
}

.nav-link{
  color: #5b5555 !important;
}

.nav-link.active,
.nav-link:hover{
  color: #4981b3 !important;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}