{% extends "base.html" %}

{% load static %}

{% block head %}

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/water_usage.css' %}">

{% endblock %}

{% block body %}
    

    <!-- <form method="POST" action=""> {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            {{field}}
        {% endfor %}
        {{form.errors}}
        <input type="submit" name="Update">
        
    </form> -->
    <div class="center">
        <h3 class="page-title"> Leaderboard </h3>
        <div class="list">
                {% for usage, person in followed_profiles %}
                <div class="list-entry">
                    <span class="list-item" stye="font-weight: bold">{{person}} </span>
                    <span class="list-footprint"> - {{usage}}</span>
                </div>
                {% endfor %}
        </div>
    </div>

    

{% endblock %}