{% extends "base.html" %}

{% block body %}
	<h3>Home Page</h3>

    <div>
        <p>Hello, {{request.user}}</p>
        <p><a href="{% url 'logout' %}"> Logout </a></p>
    </div>
    <div>
        <h4>Water Usage: {{water_usage}} </h4>
        <h4><a href="{% url 'water-usage' %}"> Update Water Usage </a></h4>
    </div>
    <div>
        <!-- <h2> Usage History </h2>
        {% for week in week_data %}
            <h4>{{week.0}} - {{week.1}}</h4>
        {% endfor %} -->
        <div class="chart-container"><canvas id="usageChart" height="400"></canvas>
            <!-- Bar Graph Script -->
            <script>
                var style = getComputedStyle(document.body);
                var midblue = style.getPropertyValue('--mid-blue');
                var lightblue = style.getPropertyValue('--light-blue');
                var ctx = document.getElementById('usageChart').getContext('2d');

                var gradient = ctx.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, midblue);
                gradient.addColorStop(1, lightblue);

                var usageChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for data in week_data %} '{{data.0}}', {% endfor %}],
                        datasets: [{
                            label: 'Water Usage (L)',
                            data: [500, 625, 2000, 1200, 1000, 3000, 200, 1000],
                            {% comment %} {% for data in week_data %} '{{data.1}}', {% endfor %} {% endcomment %}
                            backgroundColor: gradient,
                            borderColor: midblue,
                            hoverBackgroundColor: midblue,
                            hoverBorderColor: midblue,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    color: "rgba(0,0,0,0)"
                                }
                            }],
                            y: {
                                beginAtZero: true
                            },
                            yAxes: [{
                                gridLines: {
                                    color: "rgba(0,0,0,0)"
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                    }
                });
            </script>
        </div>
        <div>
            <form method="POST" action=""> {% csrf_token %}
                <input type="text" name="username" placeholder='username'>
                {{friends_form.errors}}
                <input type="submit" name="add-friend">
            </form>
        </div>
    </div>

{% endblock %}